<!DOCTYPE html>
<html lang="en">
<head>
    <title>Caos News</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="icon" type="image/png" href=" {% static 'img/logo.png'%}">
        <link rel="stylesheet" href="{% static 'Css/EstilosIndex.css'%}">
        <link rel="stylesheet" href="{% static 'Css/EstiloGalería.css'%}">
        <link rel="stylesheet" href="{% static 'Css/EstiloAboutUs.css'%}">
        <link href="{% static 'Css/EstilosAPI.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
        crossorigin="anonymous">
        {% static ''%}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script>
            $(document).ready(function(){
                $('#icon').click(function(){
                    $('ul').toggleClass('show');
                });
            });


        </script>
</head>
<body>
    <div class="ContenedorVer">
        <div class="ContenedorVerTitulo">
            <br><br>
            <h3>Colectivos Registrados</h3><br><br>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombres colectivo</th>
                    <th scope="col">Apellidos colectivos</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Email</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                    
                </tr>
            </thead>
            <tbody>
                {%for ve in colectivos%}
                    <tr>
                        <td>{{ve.foto}}</td>
                        <td>{{ve.rut}}</td>
                        <td>{{ve.nombre}}</td>
                        <td>{{ve.apellido}}</td>
                        <td>{{ve.telefono}}</td>
                        <td>{{ve.direccion}}</td>
                        <td>{{ve.correo_electronico}}</td>
                        <td>{{ve.pais}}</td>
                        <td>{{ve.contrasena}}</td>
                        <td ><a href="{% url 'Modificar' ve.rut%}" class="modi">Modificar   </a></td>
                        <td><a href="{% url 'Eliminar' ve.rut%}" class="eli">Eliminar </a></td>
                {%endfor%}
    
            </tbody>
            </table>
        </div>


    </div>

    <footer class="footer">

        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Alianzas: </h4>
                    <br>
                    <ul>
                        <li><a href="https://www.latercera.com/">La tercera</a></li>
                        <li><a href="https://www.instagram.com/prensachilena/?hl=es-la">Prensa Chilena (Instagram)</a></li>
                        <li><a href="https://www.cnnchile.com/">CNN Chile</a></li>
                    <ul>
                </div>
                <div class="footer-col">
                    <h4>Síguenos en nuestras redes sociales: </h4>
                    <br>
                    <div class="social-links">
                        <a href="https://es-la.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>

                    </div>
                </div>

            </div>
        </div>

        <br>
        <h2 class="titular-final">&copy;2021 - Caos//News Chile - Todos los derechos reservados  </h2>
    </footer>
    
</body>
</html>